body{
    display:flex;
    align-items: center;
    justify-content: center;
}
.container{
    background: url(../images/plan.jpg) no-repeat;
    width: 1024px;
    height: 1039px;

}
#drag-1, #drag-2 {
    max-width: 50px;
    max-height: 50px;
    margin: 10%;
    color: red;
    border-radius: 50%;
    touch-action: none;
    user-select: none;
    text-align:center;
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
